.App {
  padding-top: 56px;
  padding-bottom: 30px;
  color: white;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("https://i.imgur.com/Zzj92XA.png");
}

.home-header h1{
  text-align: center;
  font-size: 72px;
}

.home-logo {
  display: block;
  margin: auto;
  padding: 40px 20px 40px 20px;
  width: 80%;
}

.home-desc {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar {
  border-bottom: 1px solid #1e8355;
}

.form-control {
  margin-right: 10px;
}

.logged-in-badge {
  margin-left: 10px;
}

.logged-in-name {
 color: rgba(255,255,255,.55);
}

.nav-search-button {
   margin-right: 10px;
}

.table .tdata {
  border: 10px solid black;
  border-collapse: none;
  border-width: 10px;
  background-color:yellow;
}

.post_back {
  background-color: tomato;
}

.card {
  margin: 0 auto;
}

.small-post-card {
  max-width: 800px;
  text-align: left;
}

.rounded-start {
  margin-left: 20px;
  margin-top: 20px;
}

.container {
  max-width: 800px;
}

div .main-content-container{
  max-width: 820px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 24px;
}

.page-header {
  border-bottom: 3px solid #1e8355;
  margin-bottom: 24px;
}

.non-nav-input {
  margin-bottom: 10px;
}

.login-card {
  padding: 10px;
}

.genre-search-button {
  margin-left: 10px;
  margin-bottom: 5px;
}

.genre-form {
  margin-bottom: 24px;
}

.profile-badge-display {
  padding-bottom: 10px;
  padding-top: 10px;
}

.full-post {
  text-align: center;
}

.full-summary {
  padding-top: 30px;
}

.full-opinion {
  padding-bottom: 15px;
}

.amazon-button {
  margin: 0 auto;
  display: block;
  width: 200px;
}

.comment-header{
  margin-top: 15px;
  /* margin-bottom: 15px; */
}

.comment-card {
  margin-top: 15px;
}

.likes-counter {
  margin-bottom: 5px;
}

.like-button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.like-button:hover {
  cursor: pointer;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
   border-color: rgba(0,0,0,.125);
}

.error-message {
  color: red;
  padding-top: 20px;
}

.edit-delete-button {
  margin-bottom: 15px;
}

.btn-secondary {
  margin-left: 10px;
}

.confirm-buttons {
  margin-bottom: 15px;
}