.App {
  padding-top: 56px;
  padding-bottom: 30px;
  
}

.form-control {
  margin-right: 10px;
}

.logged-in-badge {
  margin-left: 10px;
}

.logged-in-name {
 color: rgba(255,255,255,.55);
}

.table .tdata {
  border: 10px solid black;
  border-collapse: none;
  border-width: 10px;
  background-color:yellow;
}

.post_back {
  background-color: tomato;
}

.card {
  margin: 0 auto;
}

.small-post-card {
  max-width: 800px;
  text-align: left;
}

.rounded-start {
  margin-left: 20px;
  margin-top: 8px;
}

.container {
  max-width: 800px;
}

div .main-content-container{
  max-width: 820px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 24px;
}

.page-header {
  border-bottom: 3px solid #1e8355;
  margin-bottom: 24px;
}